<div ng-controller="packingController as $ctrl">
    <div id="addShape">
        <select ng-click="" ng-model="selectedpack" ng-options="x.name for x in packageTypes" >
            <option value="" disabled selected>Select pakk</option>
        </select>
        <select ng-click="" ng-model="selectedLocation" ng-options="x.name for x in locations" >
            <option value="" disabled selected>Select location</option>
        </select>
        <p ng-click="addShape()">add shape</p>
        <p ng-click="saveLoad()">Salvesta koorem</p>
    </div>
    <div ng-click="zoomIn()" id="zoomIn">
        <p>zoom in</p>
    </div>
    <div ng-click="zoomOut()"id="zoomOut">
        <p>zoom out</p>
    </div>
    <div style="top: 50px; text-align:center">
        <canvas id="canvasOne" width="1000" height="1000" >
            Your browser does not support HTML5 canvas.
        </canvas>
    </div>
</div>
