<div ng-controller="historyController as $ctrl">

    <div id="loadsList">
        <table class="table">
            <tr>
                <td>
                    <label title="Koorma number" ng-model="load.number">Koorma Nr</label>
                </td>
                <td>
                    <label title="Kuupäev" ng-model="load.date">Kuupäev</label>
                </td>
            </tr>
            <tr  ng-repeat="load in loads">
                <td ng-click="openLoad(load)">
                    <label title="Koorma number" ng-model="load.number">Nr. {{load.number}}</label>
                </td>
                <td ng-click="openLoad(load)">
                    <label title="Kuupäev" ng-model="load.date">{{load.date}}</label>
                </td>
                <td>
                    <span ng-click="deleteLoad(load)" class="glyphicon glyphicon-remove-circle" data-popout="true" data-toggle="confirmation" data-singleton="true"></span>
                </td>
            </tr>
        </table>
    <div id="loadModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="closeModal">&times;</span>
                <div id="headerBox">
                    <h2 style="float: left;">Nr. {{loadNumber}}</h2>
                    <h2 style="float: right;">Kuupäev {{loadDate}}</h2>
                </div>
                <button class="btn-primary" id="loadToCanvas" ng-click="loadToCanvas()">Lae koorem</button>
            </div>
            <div class="modal-body">
                <div id="packageDetailList">
                    <table class="table">
                        <tr>
                            <td>
                                <label title="Paki tüüp" ng-model="packDetail.packageType">Paki tüüp</label>
                            </td>
                            <td>
                                <label title="Sihtkoht" ng-model="packDetail.destination">Sihtkoht</label>
                            </td>
                            <td>
                                <label title="Pakkide arv" ng-model="packDetail.count"> Pakkide arv </label>
                            </td>
                            <td>
                                <label title="Auto" ng-model="packDetail.car"> Auto </label>
                            </td>
                        </tr>
                        <tr id='packageDetailListItem' ng-repeat="packDetail in packageDetailsList | orderBy:'-packageType'">
                            <td>
                                <label title="Paki tüüp">{{packDetail.packageType}}</label>
                            </td>
                            <td>
                                <label title="Sihtkoht">{{packDetail.destination}}</label>
                            </td>
                            <td>
                                <label title="Pakkide arv">{{packDetail.count}}</label>
                            </td>
                            <td>
                                <label title="Auto">{{packDetail.car}}</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="imageBox">
                    <div id="loadImages" ng-repeat="image in loadImages">
                        <div id="loadOneImage" style="float: left; width: 33%">
                            <img ng-click="printImage(image)" src="{{image.image}}" id="loadGraph">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</div>