<div ng-controller="historyController as $ctrl">

    <div id="loadsList">
        <table class="table">
            <tr>
                <td>
                    <label title="Koorma number" ng-model="load.number">Koorma Nr</label>
                </td>
                <td>
                    <label title="Kuupäev" ng-model="load.date">Kuupäev</label>
                </td>
            </tr>
            <tr  ng-repeat="load in loads">
                <td ng-click="openLoad(load)">
                    <label title="Koorma number" ng-model="load.number">Nr. {{load.number}}</label>
                </td>
                <td ng-click="openLoad(load)">
                    <label title="Kuupäev" ng-model="load.date">{{load.date}}</label>
                </td>
                <td>
                    <button ng-click="deleteLoad(load)" class="btn btn-default" data-popout="true" data-toggle="confirmation" data-singleton="true">Kustuta</button>
                </td>
            </tr>
        </table>
    <div id="loadModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="closeModal">&times;</span>
                <h2>Nr. {{loadNumber}}</h2>
                <h2>Kuupäev {{loadDate}}</h2>
                <button id="loadToCanvas" ng-click="loadToCanvas()">Lae koorem</button>
            </div>
            <div class="modal-body">
                <div id="packageDetailList">
                    <table class="table">
                        <tr>
                            <td>
                                <label title="Paki tüüp" ng-model="packDetail.packageType">Paki tüüp</label>
                            </td>
                            <td>
                                <label title="Sihtkoht" ng-model="packDetail.destination">Sihtkoht</label>
                            </td>
                            <td>
                                <label title="Pakkide arv" ng-model="packDetail.count"> Pakkide arv</label>
                            </td>
                        </tr>
                        <tr id='packageDetailListItem' ng-repeat="packDetail in packageDetailsList | orderBy:'-packageType'">
                            <td>
                                <label title="Paki tüüp">{{packDetail.packageType}}</label>
                            </td>
                            <td>
                                <label title="Sihtkoht">{{packDetail.destination}}</label>
                            </td>
                            <td>
                                <label title="Pakkide arv">{{packDetail.count}}</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <ng-list id="loadImages" ng-repeat="image in loadImages">
                    <div id="loadOneImage">
                        <p><img src="{{image.image}}" id="loadGraph"></p>
                    </div>
                </ng-list>
            </div>
            <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>
    </div>
    </div>
</div>