<div ng-controller="packingController as $ctrl">

    <div id="menuDrop">
        <div class="dropdown">
            <button class="dropbtn">Menüü</button>
            <div class="dropdown-content">
                <a ng-click="openGeneration()">Lisa koormale pakid</a>
                <a ng-click="addCar()">Lisa auto</a>
                <a ng-click="removeCar()">Võta auto maha</a>
                <a ng-click="saveLoad()">Salvesta koorem</a>
                <a ng-click="printImage()">Prindi koorem</a>
            </div>
        </div>
    </div>
    <div ng-click="changeToLastCar()" id="lastCar">
        <h2 class="glyphicon glyphicon-chevron-left"></h2>
    </div>
    <div ng-click="changeToNextCar()"id="nextCar">
        <h2 class="glyphicon glyphicon-chevron-right"></h2>
    </div>

    <div id="canvasBox" style="top: 50px; text-align:center">
        <canvas id="canvasOne" width="2000" height="1200" >
            Your browser does not support HTML5 canvas.
        </canvas>
    </div>

    <div id="generationModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span ng-click="closeModal()" class="closeModal">&times;</span>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>Paki tüüp</td>
                        <td>Sihtkoht</td>
                        <td>Kogus</td>
                    </tr>
                    <tr ng-repeat="generativePack in packsToGenerate">
                        <td>
                            <select ng-model="generativePack.packageType" ng-options="x.name for x in packageTypes" >
                                <option value="" disabled selected>Vali pakk</option>
                            </select>
                        </td>
                        <td>
                            <select id="selectedLocation{{generativePack.id}}" ng-model="generativePack.destination" ng-options="x.name for x in locationsShape" >
                                <option value="" disabled selected>Vali sihktoht</option>
                            </select>
                        </td>
                        <td>
                            <input ng-model="generativePack.count" placeholder="Kogus">
                        </td>
                    </tr>
                </table>
                <span id="addNewPackRow" class="glyphicon glyphicon-plus" ng-click="addNewPackRow()"></span>
            </div>
            <div class="modal-footer">
                <h3>Modal Footer</h3>
                <button id="addPacksToCanvas" ng-click="addPacksToCanvas()">Aseta pakid koormale</button>
            </div>
        </div>

    </div>
</div>
