<div ng-controller="packLocaController as $ctrl">

    <div id="packageTypeList" class="typeList">
        <h2>Pakkide tüübid <span id="addPackageType" class="glyphicon glyphicon-plus"></span> </h2>
        <table id="locationsTable" class="table">
            <tr>
                <td style="align-content: center">
                    Paki nimetus
                </td>
                <td style="align-content: center">
                    Mõõdud(kõrgus X laius)
                </td>
                <td style="align-content: center">
                    Värvus
                </td>
            </tr>
            <tr id='packageTypeListitem' ng-repeat="packageOne in packageTypes | orderBy:'-name'">
                <td>
                    <label title="Paki nimi">{{packageOne.name}}</label>
                </td>
                <td>
                    <label title="Mõõdud">{{packageOne.height}} X {{packageOne.width}}</label>
                </td>
                <td style="background-color: {{packageOne.color}}">
                </td>
                <td>
                    <span class="glyphicon glyphicon-edit" ng-click="editPackageType(packageOne)"></span>
                    <span class="glyphicon glyphicon-remove-circle" ng-click="deletePackageType(packageOne)"></span>
                </td>
            </tr>
        </table>

    </div>

    <div id="locationsList" class="typeList">
        <h2>Asukohad <span id="addLocation" class="glyphicon glyphicon-plus"></span></h2>
        <table class="table">
            <tr>
                <td style="align-content: center">
                    Asukoha nimi
                </td>
                <td style="align-content: center">
                    Aadress
                </td>
                <td style="align-content: center">
                    Värvus
                </td>
            </tr>
            <tr id='locationsListItem' ng-repeat="location in locations | orderBy:'-name'">
                <td>
                    <label title="Asukoha nimi">{{location.name}}</label>
                </td>
                <td>
                    <label title="Asukoha aadress">{{location.address}}</label>
                </td>
                <td style="background-color: {{location.color}}">
                </td>
                <td>
                    <span class="glyphicon glyphicon-edit" ng-click="editLocation(location)"></span>
                    <span class="glyphicon glyphicon-remove-circle" ng-click="deleteLocation(location)"></span>
                </td>
            </tr>
        </table>
    </div>

    <div id="packageTypeModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>{{packageText}}</h2>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Paki nimi</td>
                        <td>Kõrgus(mm)</td>
                        <td>Laius(mm)</td>
                        <td>Värvus</td>
                    </tr>
                    <tr>
                        <td><input id="packageTypeName" placeholder="Paki nimi" ng-model="packageTypeNameInput" title="Paki Nimi"></td>
                        <td><input id="packageTypeHeight" placeholder="Kõrgus" ng-model="packageTypeHeightInput" title="Kõrgus"></td>
                        <td><input id="packageTypeWidth" placeholder="Laius" ng-model="packageTypeWidthInput" title="Laius"></td>
                        <td><input type="color" id="packageTypeColor" placeholder="Värvus" ng-model="packageTypeColorInput" title="Värvus"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn-primary" ng-click="addPackageType()">Salvesta</button>
            </div>
        </div>

    </div>

    <div id="locationModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>{{locationText}}</h2>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Sihtkoha nimi</td>
                        <td>Aadress</td>
                        <td>Värvus</td>
                    </tr>
                    <tr>
                        <td><input id="locationName" placeholder="Sihtkoha nimi" ng-model="locationNameInput" title="Sihtkoha Nimi"></td>
                        <td><input id="locationAddress" placeholder="aadress" ng-model="locationAddressInput" title="Aadress"></td>
                        <td><input type="color" id="locationColor" placeholder="Värvus" ng-model="locationColorInput" title="Värvus"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn-primary" ng-click="addLocation()">Salvesta</button>
            </div>
        </div>
    </div>
</div>